# Operating system files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.png

# Virtual environment
venv/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# IDE specific files
.idea/
.vscode/
.iml/